.messageWrap {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 2rem;
}

.messageWrap .labelTitle {
    color: #0d1a26;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.2rem;
    margin: 1.2rem 0;
}

.messageWrap .displayCode {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.displayCode .codeSection {
    display: flex;
    flex-direction: column;
    float: left;
    width: 48%;
    min-height: 14rem;
    margin: 0 2% 1% 0;
    border: 1px solid #ebedf0;
}

.codeSection .example {
    padding: 2rem;
    flex: 1;
}

.codeSection .intro {
    padding-left: 5%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.codeSection .usage{
    height: 3rem;
    line-height: 3rem;
    border-top:1px dashed #ebedf0;
    padding-left: 5%;
}
.example .btn {
    margin-right: 0.5rem;
}

.codeSection .split {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.split .small {
    width: 5%;
    height: 1px;
    background-color: #ebedf0;
}

.split .line {
    width: 75%;
    height: 1px;
    background-color: #ebedf0;
}

.split .desc {
    width: 20%;
    text-align: center;
}

.clearfix:after {
    content: '.';
    height: 0;
    display: block;
    clear: both;
}