.chartWrap{
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 2rem;
    background-color: #fff;
}
.chartWrap .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.chartWrap .chart{
    width: 50%;
    float: left;
}
.clearfix:after {
    content: '.';
    height: 0;
    display: block;
    clear: both;
}